<div class="container-problems">
  <!-- Main container for problem cards -->
  <div class="problem-cards-container">
    <div *ngFor="let problem of problems" class="problem-card">
      <div class="problem-card__header">
        <h2>{{ problem.name }}</h2>
        <span
          class="problem-card__difficulty {{ problem.difficulty | lowercase }}"
        >
          {{ problem.difficulty }}
        </span>
        <span class="problem-card__status {{ problem.status | lowercase }}">
          {{ problem.status }}
        </span>
      </div>
      <div class="problem-card__description">
        <p>{{ problem.description }}</p>
      </div>
      <div *ngIf="problem.status == 'ON_REVISION'" class="problem-card__footer">
        <button class="problem-card__ctb" (click)="sendProblem(problem.id)">
          Send back to author
        </button>
        <button class="problem-card__cta" (click)="rejectProblem(problem.id)">
          Reject
        </button>
      </div>
    </div>
    <div *ngIf="problems.length == 0"><h3>NO PROBLEMS</h3></div>
  </div>
</div>
