.report-problem-dialog {
  &__content {
    display: flex;
    flex-direction: column;

    .problem-text {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .input-label {
      margin: 8px 0 4px 0;
      font-weight: bold;
    }

    .input-field,
    .textarea-field {
      width: 94%;
      padding: 8px;
      margin-bottom: 16px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .textarea-field {
      height: 100px; // Adjust the height as needed
      resize: vertical; // Allow the user to resize the textarea vertically
      text-align: left; // Ensure text starts from the left
      vertical-align: top; // Ensure text starts from the top
      padding-top: 8px; // Additional padding for top alignment
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .action-button {
      margin-left: 8px;
    }
  }
}

.cancel-button {
  background-color: #ccc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; // Add smooth transition for background-color
}

.cancel-button:hover {
  background-color: #b3b3b3;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; // Add smooth transition for background-color
}

.submit-button:hover {
  background-color: #0056b3;
}
