.top-bar {
  // border-bottom: #33333317 1px solid;

  .top-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      img {
        height: 100px;
      }
    }

    .logo-btn {
      background: none;
      border: none;
      cursor: pointer;
    }

    .navigation {
      display: flex;
      align-items: center;

      .nav-links {
        display: flex;
        margin: 0;
        padding: 0;

        a {
          margin: 0 15px;
          color: #333;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          &:hover {
            color: #007bff;
          }
        }
      }
    }

    .user-actions {
      display: flex;
      align-items: center;

      .account-btn,
      .register-btn,
      .cart-btn {
        display: flex;
        align-items: center;
        flex-direction: row;
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        margin-left: 20px;
        color: #333;

        &:hover {
          color: #007bff;
        }

        i {
          font-size: 24px;
          margin-right: 8px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
