<header class="top-bar">
  <div class="top-bar-wrapper">
    <div class="logo">
      <button class="logo-btn" [routerLink]="getRouteBasedOnRole()">
        <img src="assets/explorerLogo.png" alt="Logo" />
      </button>
    </div>
    <nav class="navigation">
      <div class="nav-links">
        <a [routerLink]="getRouteBasedOnRole()">Home</a>
        <a *ngIf="user && user.username === ''">Shop</a>
        <a *ngIf="user && user.username === ''">About</a>
        <a *ngIf="user && user.username === ''">Contact</a>
        <a
          [routerLink]="['/create-tour']"
          *ngIf="user && user.role == 'author'"
        >
          Create tour
        </a>
        <a
          [routerLink]="['/reports-overview']"
          *ngIf="user && user.role == 'author'"
          >Reports overview</a
        >
        <a
          [routerLink]="['/ask-for-recommended']"
          *ngIf="user && user.role == 'tourist'"
          >Ask for recommended</a
        >
      </div>
    </nav>

    <div class="user-actions">
      <button
        class="account-btn"
        [routerLink]="['/login']"
        *ngIf="user && user.username === ''"
      >
        <i class="fas fa-user"></i>
        <p>Login</p>
      </button>
      <button
        class="register-btn"
        [routerLink]="['/register']"
        *ngIf="user && user.username === ''"
      >
        <i class="fas fa-user-plus"></i>
        <p>Register</p>
      </button>
      <button
        class="cart-btn"
        *ngIf="user?.role == 'tourist'"
        [routerLink]="['/cart']"
      >
        <i class="fas fa-shopping-cart"></i>
      </button>
      <button
        class="register-btn"
        (click)="logout()"
        *ngIf="user && user.username !== ''"
      >
        <i class="fas fa-sign-out-alt"></i>
        <p>Logout</p>
      </button>
    </div>
  </div>
</header>
