<header class="top-bar">
  <div class="top-bar-wrapper">
    <div class="logo">
      <button class="logo-btn" [routerLink]="getRouteBasedOnRole()">
        <img src="assets/explorerLogo.png" alt="Logo" />
      </button>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="user-actions">
      <button class="account-btn">
        <i class="fas fa-user"></i>
        <p>Login</p>
      </button>
      <button class="register-btn">
        <i class="fas fa-user-plus"></i>
        <p>Register</p>
      </button>
    </div>
  </div>
</header>
