<div class="container">
  <div class="tour-cards-container">
    <div *ngFor="let tour of tours" class="tour-card">
      <div class="tour-card__header">
        <h2>{{ tour.name }}</h2>
        <span class="tour-card__difficulty {{ tour.difficulty | lowercase }}">
          {{ tour.difficulty }}
        </span>
      </div>
      <div class="tour-card__description">
        <p>{{ tour.description }}</p>
      </div>
      <div class="tour-card__footer">
        <div class="tour-card__price">
          <span>{{ tour.price | currency }}</span>
        </div>
        <button
          class="tour-card__cta"
          [routerLink]="'/tour-overview/' + tour.id"
        >
          View details
        </button>
        <button class="tour-card__add-to-cart" (click)="reportProblem(tour.id)">
          Report problem
        </button>
      </div>
    </div>
    <div *ngIf="tours.length == 0"><h3>NO TOURS</h3></div>
  </div>
</div>
