<div class="container-tour-overview">
  <h1 class="tour-title">{{ tourName }}</h1>

  <app-map-component
    [keypoints]="keypoints"
    class="map-frame"
  ></app-map-component>

  <button
    class="option-button"
    style="margin-bottom: 20px"
    (click)="createKeypoint()"
    *ngIf="user.role == 'author'"
  >
    Add new keypoint
  </button>

  <div class="keypoints-container">
    <div *ngFor="let kp of keypoints" class="keypoint-card">
      <h2 class="keypoint-title">{{ kp.name }}</h2>
      <p class="keypoint-coordinates">{{ kp.latitude }} - {{ kp.longitude }}</p>
      <img
        class="keypoint-image"
        [src]="'https://localhost:44333/resources' + kp.image"
        alt="Checkpoint image"
      />
    </div>
    <h2 *ngIf="keypoints.length == 0">NEMA</h2>
  </div>
  <div class="option-buttons-container">
    <button
      (click)="publishTour()"
      class="option-button"
      *ngIf="user.role == 'author'"
    >
      Publish tour
    </button>
    <button
      (click)="archiveTour()"
      class="option-button"
      *ngIf="user.role == 'author'"
    >
      Archive tour
    </button>
    <button
      (click)="archiveTour()"
      class="option-button"
      *ngIf="user.role == 'tourist'"
    >
      Add to cart
    </button>
  </div>
</div>
